table {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    border-collapse: collapse;
    user-select: none;
    td {
        border: 1px solid black;
    }
    input,
    td {
        width: 80px;
        font-size: 14px;
        text-align: center;
        line-height: 16px;
        background-color: inherit;
    }
    tr:nth-child(2n) {
        background-color: #eeeeee;
    }
    tr:hover, tr.dragging {
        background-color: #ccc;
    }
}
input {
    border: none;
    font-family: inherit;
}
.card-cell {
    width: 250px;
    text-align: right;
    padding: 0 10px 0 10px;
    line-height: 24px;
    input {
        text-align: right;
        width: 160px;
    }
    div {
      display: inline-block;
      margin-left: 10px;
    }

    button {
        display: none;
        float: left;

        &:first-child {
            margin-left: 20px;
        }
    }

    &:hover button {
        display: inline-block;
    }
}
.archetype-cell {
    width: 80px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    input {
        font-size: 12px;
        width: 100%;
        text-align: left;
        &.archetype-weight {
            width: 30px;
        }
    }
    .archetype {
        border-bottom: 1px dashed black;
        input {
            padding-left: 10px;
            text-align: left;
        }
    }
    span {
        color: green;
        font-weight: bold;
        &.count-over {
            color: red;
        }
        &.count-under {
            color: blue;
        }
    }
}
.maindeck-sideboard-cell {
    input {
        width: 50px;
    }

    hr {
        margin: 2px;
    }

    .maindeck-sideboard-estimated {
        display: inline-block;
        font-size: 10px;
    }

    &.maindeck-sideboard-cell-invalid {
        background-color: red;
    }
}

.sideboard-plan-grid {
  padding: 1em;
  display: flex;
  flex-flow: row wrap;

  > div {
    margin: 1em;
    flex-grow: 1;
  }

  ul {
    list-style-type: none;
  }

  .mdl-card__supporting-text {
    color: black;
    font-size: 16px;
  }
}

.deck-settings {
    padding: 2em;

    .mdl-textfield {
        display: block;
        width: 500px;
    }

}

.mdl-textfield__label {
    color: rgba(0,0,0,0.4);
}

.drop-target-above {
  border-top: 3px solid gray;
}
.drop-target-below {
  border-bottom: 3px solid gray;
}

.separate-sideboard-plans-for-play-draw div {
    display: inline-block;
    vertical-align: top;
}

.highlighted {
    background-color: #ccc;
}

.mdl-button--icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
}
