table {
    border: 1px solid black;
    border-collapse: collapse;
    td {
        border: 1px solid black;
    }
    input,
    td {
        width: 80px;
        font-size: 18px;
        text-align: center;
    }
}
input {
    border: none;
}
.card-cell {
    width: 160px;
    input {
        text-align: left;
        width: 160px;
    }
}
.archetype-cell {
    width: 80px;
    text-align: left;
    font-size: 12px;
    input {
        font-size: 12px;
        width: 100%;
        text-align: left;
        &.archetype-weight {
            width: 30px;
        }
    }
    .archetype {
        border-bottom: 1px dashed black;
        input {
            padding-left: 10px;
            text-align: left;
        }
    }
    span {
        color: green;
        font-weight: bold;
        &.invalid-count {
            color: red;
        }
    }
}
.maindeck-sideboard-cell {
    input {
        width: 50px;
    }

    hr {
        margin: 2px;
    }

    .maindeck-sideboard-estimated {
        display: inline-block;
        font-size: 10px;
    }
}
